.img-fluid {
  width: 50%;
  margin-left: 10px;
}

body {
  background-image: url('../assests/images/background_img.png');
  background-size: cover;
  /* Adjusts the image's width and height to cover the entire element */
  background-repeat: no-repeat;
  /* Prevents the image from repeating */
  /* Other styles */
}

.pink {
  background-color: rgb(238, 226, 229);
  /* height: auto; */
  /* width: 400px; */
  /* Light pink with 50% opacity */
  /* Other styles for your container */
}